.navigation__hamburger-btn {
  width: 40px;
  height: 38px;
  background: url('../../images/hamburger-btn.svg') no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.navigation__close-btn_active {
  display: block;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  background: url(../../images/close-btn.svg) no-repeat;
  background-position: center;
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 0;
  z-index: 2;
}

.navigation__container_hidden {
  display: none;
}

.navigation__container_active {
  background-color: #202020;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
  padding: 144px 0 0;
  margin: 0;
}

.navigation__list-item {
  padding-bottom: 24px;
}

.navigation__list-item:last-of-type {
  padding-top: 450px;
}

.navigation__list-item:nth-of-type(3) {
  padding-bottom: 0;
}

.navigation__list-item:last-of-type {
  padding-bottom: 0;
}

.navigation__list-item-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.navigation__list-item-link_active {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;
}

.navigation__list-item-profile {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 20px;
  background-color: #313131;
  border-radius: 50px;
}

.link:hover {
  transition: opacity 0.2s linear;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .navigation__container_active {
    left: 32%;
  }

  .navigation__close-btn_active {
    top: 26px;
    right: 28px;
  }

  .navigation__list {
    padding-top: 159px;
  }

  .navigation__list-item {
    padding-bottom: 28px;
  }

  .navigation__list-item:last-of-type {
    padding-top: 628px;
  }

  .navigation__list-item-link_active {
    padding-bottom: 4px;
  }
}

@media screen and (min-width: 1280px) {
  .navigation__hamburger-btn_hidden {
    display: none;
  }

  .navigation__container_active {
    background-color: transparent;
    position: inherit;
  }

  .navigation__container_hidden {
    display: block;
  }

  .navigation__list {
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navigation__list-item {
    padding: 0 21px 0 0;
  }

  .navigation__list-item:last-of-type {
    margin-left: 30px;
    padding-right: 0;
    padding-top: 0;
  }

  .navigation__list-item-link {
    font-size: 14px;
    line-height: 16px;
  }

  .navigation__list-item-link_hidden {
    display: none;
  }
}
