.navtab__nav {
  margin: 0 auto;
  min-width: 258px;
  max-width: 308px;
}

.navtab__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navtab__nav-list-item {
  width: 82px;
  height: 26px;
  background-color: #303030;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
}

.navtab__nav-list-item-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  transition: opacity 0.2s linear;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .navtab__nav-list-item {
    width: 96px;
    height: 36px;
  }

  .navtab__nav-list-item-link {
    font-size: 12px;
  }
}
